<div class="col-md-8 col-md-offset-2">
  <h2>Current Users:</h2>

  <div class="content">
        <% User.all.sort_by { |user| user.name.downcase }.each do |user| %>
            <ul>
                <li><a href="/users/<%= user.id %>"><%= user.name %></a></li>
                    <dl>
                        <dt>Pups</dt>
                        <% user.dogs.each do |dog| %>
                            <dd>
                            <a href="/dogs/<%= dog.id %>"><%= dog.name %></a>
                            </dd>
                        <% end %>
                    </dl> 
            </ul>
        <% end %>
  </div>
</div>