<h1>Create New Skill</h1>
<div class="col-md-8 col-md-offset-2">

    <div class="formbox">
        <form action='/skills' method="POST">

            <label for="name">Skill Name:</label>
            <input type="text" id="name" name="skill[name]" required>

            <label for="skilldesc">Description:</label>
            <input type="text" id="skilldesc" name="skill[description]" required>

            <label for="skillmethod">Method:</label>
            <textarea id="skillmethod" name="skill[method]"
                rows="5" cols="33" wrap="hard" 
                placeholder="What are the steps to teach your dog this skill? (optional)">
            </textarea>

            <fieldset>
                <legend>Choose which of your dogs know this skill...</legend>
                <% @user.dogs.each do |dog| %>
                    <input type="checkbox" name="dog_ids[]" id="dog" value="<%= dog.id %>">
                    <label for="dog"><%= dog.name %></label>

                    <label for="level">Choose skill mastery level:</label>
                    <select name="dog_lvls[<%= dog.id %>]" id="level">
                        <option value="novice">Novice</option>
                        <option value="beginner">Beginner</option>
                        <option value="competent">Competent</option>
                        <option value="proficient">Proficient</option>
                        <option value="expert">Expert</option>
                    </select>
                <% end %>
            </fieldset>

            <input type="submit" value="Create Skill">
        </form>
    </div>
</div>