<h1>Log in below:</h1>

<form action='/login' method="POST">

  <label for="email">Email:</label>
  <input type="email" id="email" autocomplete="username" name="email" required>

  <label for="password">Password:</label>
  <input type="password" id="current-password" autocomplete="current-password" name="password" required>

  <input type="submit" value="Log In">
</form>

<a href="/signup">Don't have an account yet? Sign up instead.</a>