<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to PuppyPro!</h2>

    <div class="content">
      <p>PuppyPro allows its users to create an account where they can manage multiple dogs and the skills they are learning. Users can track their pet's progress with the aid of a visual timeline, records of skill mastery, and an easy to maintain personal skill library.</p>
    </div>

  </div>
  
</div>
